<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/d3.min.js"></script>
    <!-- <style>
      svg rect {
        fill: orange;
      }

      svg text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
      }
    </style> -->
    <style>
      .bar {
        fill: steelblue;
      }

      .highlight {
        fill: orange;
      }
    </style>
  </head>

  <body>
    <!-- <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
      <line x1="100" y1="50" x2="500" y2="50" stroke="black">
      </line>
    </svg> -->
    <!-- d3js.my.js -->
    <!-- <div id="line"></div>
    <div id="rect"></div>
    <div id="circle"></div>
    <div id="ellipse"></div>
    <div id="text"></div>
    <div id="result"></div> -->

    <!-- d3js.chart.js -->
    <div id="chart">

    </div>
    <script src="/javascripts/d3js.barchart.js"></script>
  </body>

</html>